mjx-math[display="true"] {
    
}

/* reading mode */
.markdown-preview-view {
  font-family: 'CMU Serif Bold' !important;
}

/* source view and live preview */
.markdown-source-view.mod-cm6 .cm-scroller {
    font-family: 'CMU Serif Bold' !important; 
    font-size: 200% !important; 
}

/*.math-block > mjx-container[jax="CHTML"]  {
  font-size: 130%;
  text-align: left !important;
}*/